body {
    margin: 0;
}

* {
	box-sizing: border-box;
  }

  #icon {
	  transition: transform .2s;
	  max-width: 50px;
	  width: 40%;
  }

  #icon:hover {
	  transform: scale(1.5);
  }

  .icons {
	display: table;
	margin-left: auto;
	margin-right: auto;
  }

  #header {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding-top: 150px;
	padding-bottom: 150px;
	width: 100%;
}

#logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	max-width: 500px;
}

.content {
	background-color: rgb(78, 78, 78);
	padding-top: 30px;
	padding-bottom: 50px;
	padding-left: 30px;
	padding-right: 30px;
}

::-webkit-scrollbar {
	width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: rgb(110, 110, 110); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #555; 
  }

.categorias {
	list-style-type: none;
}